table{
	width:100%;
	border-collapse: collapse;
	box-shadow:3px 3px 3px #ddd;
}
tr:nth-child(even){
	background:#ddd;
}
td,
th{
	padding:1%;
}
.skDiv{
	width:100%;
	border-left:3px solid #0E4DBA;
	padding:1%;
	margin:1%;
}
span{
	background: #0E4DBA;
	color: #fff;
	border: 1px solid #082D6E;
	box-shadow: 3px 3px 3px #ddd;
	margin: 1%;
	padding: 1%;
	border-radius: 5px;
}
.parent{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.child1{
	width:30%;
    border: 1px solid #ddd;
    padding:1%;
    margin:1%;
}
.child2{
	width:70%;
    border: 1px solid #ddd;
    padding:1%;
    margin:1%;
}
.profile{
	display:block;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	height: 200px;
}
h2{
	text-align: center;
	color: #87ED0C;
}
a{
	text-decoration: none;
	font-size: 20px;
}
p{
	font-size: 20px;
}
/*small screens*/
@media only screen and (min-width:320px) and (max-width: 480px){
.parent{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.child1{
	width:100%;
    border: 1px solid #ddd;
    padding:1%;
    margin:1%;
    background-color: green;
}
.child2{
	width:100%;
    border: 1px solid #ddd;
    padding:1%;
    margin:1%;
}
}
/*mediam screens*/
@media only screen and (min-width:481px) and (max-width: 768px){
	.parent{
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: pink;
}
.child1{
	width:100%;
    border: 1px solid #ddd;
    padding:1%;
    margin:1%;
    font-size: 30px;
}
.child2{
	width:100%;
    border: 1px solid #ddd;
    padding:1%;
    margin:1%;
    font-size: 30px;
}
p{
	font-size: 30px;
}
a{
	font-size: 30px;
}
}
/*large screens*/
@media only screen and (min-width:769px) and (max-width: 1024px){
	.parent{
	display: flex;
	justify-content: center;
	flex-direction: column;
    }
.child1{
	width:100%;
    border: 1px solid #ddd;
    padding:1%;
    margin:1%;
    background-color: orange;
   }
   .child2{
	width:100%;
    border: 1px solid #ddd;
    padding:1%;
    margin:1%;
   }
   *{
      font-size:30px;
   }
   p{
   	font-size: 30px;
   }
   a{
   	font-size:30px;
   }	
}